html, body {
	margin: 0;
	font-family: Geneva,Tahoma,Verdana,sans-serif;
	background: #eee;
}

body.modalOpen {
	overflow: hidden;
}

main {
	margin: 0 20px;
}

.modal {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	overflow: auto;
	display: none;
}

.content {
	background: #282828;
	text-align: center;
}

.input-wrap {
	display: inline-block;
	position: relative;
}

.close {
	position: fixed;
	top: 10px;
	right: 20px;
	font-size: 2em;
	color: white;
	text-decoration: none;
}

.close:hover {
	color: #aaa;
}

/* Labels */
input[type=text], label {
	line-height: 2.6em;
	font-size: 1.8rem;
}

input[type=text] {
	border: 2px dashed #444;
	background: transparent;
	outline: none;
	margin: 0 auto 40px;
	color: #ffcc00;
	text-indent: 20px;
}

label {
	position: absolute;
	top: 4px;
	left: 26px;
	-moz-transform-origin: -8% -22%;
	-ms-transform-origin: -8% -22%;
	-webkit-transform-origin: -8% -22%;
	transform-origin: -8% -22%;
	-moz-transition: -moz-transform 160ms, color 200ms;
	-o-transition: -o-transform 160ms, color 200ms;
	-webkit-transition: -webkit-transform 160ms, color 200ms;
	transition: transform 160ms, color 200ms;
	-moz-transform: scale(1, 1) rotateY(0);
	-ms-transform: scale(1, 1) rotateY(0);
	-webkit-transform: scale(1, 1) rotateY(0);
	transform: scale(1, 1) rotateY(0);
	color: white;
}

input[type=text]:focus {
	border: 2px dashed #ffcc00;
	}

input[type=text]:focus + label {
	color: #ffcc00;
}

.float label {
	-moz-transform: scale(0.55, 0.55) rotateY(0);
	-ms-transform: scale(0.55, 0.55) rotateY(0);
	-webkit-transform: scale(0.55, 0.55) rotateY(0);
	transform: scale(0.55, 0.55) rotateY(0);
}