html, body {
	/* height: 100%; */
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body.modalOpen {
	background: aquamarine;
	overflow: hidden;
}

main {
	margin: 0 20px;
}

.viewport {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	overflow: auto;
	display: none;
}

.content {
	background: #282828;
	text-align: center;
}

.close {
	position: fixed;
	top: 10px;
	right: 20px;
	font-size: 2em;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}

.close:hover {
	color: #ccc;
}

/* Labels */
input {
	border: 2px dashed #444;
	background: transparent;
	outline: none;
	margin: 0 auto 40px;
	line-height: 2.6em;
	color: #ffcc00;
	text-indent: 20px;
	font-size: 1.8rem;
}

label {
	display: inline-block;
	position: relative;
	top: 0;
	left: 20px;
	font-size: 1.8rem;
	-moz-transform-origin: 0 -15%;
	-ms-transform-origin: 0 -15%;
	-webkit-transform-origin: 0 -15%;
	transform-origin: 0 -15%;
	-moz-transition: -moz-transform 160ms, color 200ms;
	-o-transition: -o-transform 160ms, color 200ms;
	-webkit-transition: -webkit-transform 160ms, color 200ms;
	transition: transform 160ms, color 200ms;
	-moz-transform: scale(1, 1) rotateY(0);
	-ms-transform: scale(1, 1) rotateY(0);
	-webkit-transform: scale(1, 1) rotateY(0);
	transform: scale(1, 1) rotateY(0);
	color: white;
}

input:focus {
	border: 2px dashed #ffcc00;
	}

input:focus + label {
	color: #ffcc00;
}

.float label {
	-moz-transform: scale(0.55, 0.55) rotateY(0);
	-ms-transform: scale(0.55, 0.55) rotateY(0);
	-webkit-transform: scale(0.55, 0.55) rotateY(0);
	transform: scale(0.55, 0.55) rotateY(0);
}